name: Problem Solver

on:
  schedule:
    - cron: '0 11,13,15,16,17,18,20,22 * * *'  # 4 раза в день по UTC
  workflow_dispatch:

permissions:
  contents: write

jobs:
  autocommit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Run autocommit script
        run: |
          chmod +x other_tasks/autocommit.sh
          bash other_tasks/autocommit.sh
